@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  background-color: #030520;
  /* background: transparent; */
  font-family: Poppins;
}

.navbar img {
  height: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-menu li:hover {
  background-color: #fd0202e8;
  border-radius: 5px;
  padding-bottom: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.navbar button {
  background: transparent;
  font-size: 18px;
  /* border: 1px solid rgb(236, 7, 7); */
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 15px;
  transition: 0.3s;
  color: white;
}
.navbar button:hover {
  background-color: aqua;
}
.navbar.active {
  /* padding-bottom: 2px; */
  border-bottom: 2px solid crimson;
}
